@font-face {
  font-family: "ClashGrotesk-Regular";
  src: url("../../fonts/ClashGrotesk-Regular.ttf") format("truetype");
  font-weight: normal;
}
header {
  background-color: #f0f0f0;
  height: 88px;
  display: flex;
}

.header_cnt {
  min-width: 90vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rgt {
  display: flex;
  align-items: center;
  gap: 23px;
  /* margin-left: auto;
    float: right; */
}

form {
  position: relative;
}

.search input {
  font-family: 'ClashGrotesk-Regular';
  width: 279px;
  height: 39px;
  padding: 0 23px;
  border-radius: 100px;
  outline: none;
  border: 0;
}

.search img {
  position: absolute;
  right: 16px;
  top: 10px;
}

.search input::placeholder{
  font-size: 14px;
}
