.procnt {
  width: 270px;
  height: 370px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.proimg {
  background-color: #f0f0f0;
  border-radius: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 225px;
  margin-bottom: 10px;
}

.top,
.mid,
.btm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 17px;
}

.capt, .color, .size{
  display: none;
}

@media (max-width: 1024px) {
  .procnt {
    width: 230px;
    height: 330px;
  }

  .proimg {
            width: 230px;
        height: 330px;
  }

  /* .proimg img{
    width: 0%;
  } */

  .top {
    font-size: 16px;
  }

  .mid {
    font-size: 20px;
  }

  .btm {
    font-size: 16px;
  }

  .rating {
    font-size: 16px;
  }

  .btm Button {
    font-size: 14px;
    padding: 4px 11px;
    border-radius: 15px;
  }
}

@media (max-width: 768px) {
  .procnt {
    width: 180px;
    height: 280px;
  }

  .proimg {
    width: 180px;
    height: 280px;
  }

  .top {
    font-size: 14px;
  }

  .mid {
    font-size: 18px;
  }

  .btm {
    font-size: 14px;
  }

  .rating {
    font-size: 14px;
  }

  .btm Button {
    font-size: 12px;
    padding: 3px 9px;
    border-radius: 13px;
  }

  .btm Button {
    font-size: 14px;
        padding: 6px 12px;
        border-radius: 10px;
  }
}
