@font-face {
  font-family: "ClashGrotesk-Medium";
  src: url("../fonts/ClashGrotesk-Medium.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
}

.btn img{
  max-width: 25%;
  width: 100%;
}

.btn {
  font-family: "ClashGrotesk-Medium";
  background-color: #023047;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 13px 5px 13px;
  border-radius: 25px;
  border: none;
  font-size: 18px;
  color: #fff;
}
