@font-face {
  font-family: "ClashGrotesk-Medium";
  src: url("../fonts/ClashGrotesk-Medium.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "ClashGrotesk-Semibold";
  src: url("../fonts/ClashGrotesk-Semibold.ttf") format("truetype");
  font-style: normal;
}

.cartlist{
margin-top: 138px;
}

.cart {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 87vw;
  margin: 26px auto;
  flex-direction: column;
  width: 100%;
}

.cartlist_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 87vw;
  margin: 26px auto;
}

.btnc {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fb8500;
}

.cartlist_top h2 {
  font-family: "ClashGrotesk-Semibold";
  font-size: 48px;
  font-weight: 600;
  line-height: 59.04px;
  text-align: center;
  color: #023047;
}

.btnc p {
  font-family: "ClashGrotesk-Medium";
  font-size: 24px;
  font-weight: 500;
  line-height: 29.52px;
  text-align: center;
}

.btnc p:hover {
  text-decoration: underline;
}

.cartdata {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  max-width: 85vw;
}

.cartlist_btm{
  position: fixed;
  bottom: 0;
  background-color: #fff;
  left: 0;
  right: 0;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.341);
  z-index: 1000;
}

.total {
  display: flex;
  gap: 75px;
  text-align: left;
  padding-right: 77px;
}

.totchk {
  display: flex;
  flex-direction: column;
  max-width: 87vw;
  margin: 0 auto;
  align-items: flex-end;
}

.total p {
  font-family: "ClashGrotesk-Semibold";
  font-size: 29px;
  font-weight: 700;
  line-height: 46.79px;
  text-align: center;
  color: #023047;
  margin-bottom: 5px;
}

@media (max-width: 1024px) {
  .cartlist_top {
    flex-direction: row;
    align-items: center;
    text-align: center;
    max-width: 90vw;
  }

  .btnc {
    justify-content: center;
    margin-top: 0;
  }

  .cartlist_top h2 {
    font-size: 36px;
    line-height: 45px;
  }

  .cartdata {
    max-width: 90vw;
  }

  .btnc p {
    font-size: 20px;
    line-height: 25px;
  }

  .total {
    flex-direction: row;
    align-items: flex-start;
    padding-right: 150px;
    gap: 20px;
  }

  .total p {
    font-size: 24px;
    line-height: 36px;
  }
}

@media (max-width: 768px) {
  .cartlist_top {
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    max-width: 90vw;
  }

  .btnc {
    justify-content: center;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
  }

  .cartlist_top h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .btnc p {
    font-size: 18px;
    line-height: 22px;
  }

  .cartdata {
    max-width: 80vw;
  }

  .total {
    flex-direction: column;
    align-items: flex-start;
    padding-right: 0;
    gap: 20px;
  }

  .total p {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 480px) {
  .cartlist_top {
    flex-direction: row;
    align-items: center;
    text-align: center;
    max-width: 90vw;
  }

  .btnc {
    justify-content: center;
    margin-top: 0;
    flex-direction: row;
    align-items: center;
  }

  .cartlist_top h2 {
    font-size: 28px;
    line-height: 35px;
  }

  .btnc p {
    font-size: 16px;
    line-height: 20px;
  }

  .cartdata {
    max-width: 90vw;
  }

  .total {
    flex-direction: row;
    align-items: flex-end;
    padding-right: 0;
    gap: 15px;
  }

  .total p {
    font-size: 26px;
    line-height: 28px;
  }

  .totchk {
    align-items: center;
  }

  .cartlist_btm{

  }

  .cart{
    max-width: 100vw;
    margin: 0;
  gap: 40px;
  }
}
