@font-face {
  font-family: "ClashGrotesk-Medium";
  src: url("../fonts/ClashGrotesk-Medium.ttf") format("truetype");
  font-style: normal;
}

.modaloverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #A4A4A4CC;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalcontent {
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 20px;
  width: 455px;
  height: 302px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.btnc{
  display: flex;
  align-items: center;
  gap: 20px;
  border: none;
}

.btnc p {
  font-family: "ClashGrotesk-Medium";
  font-size: 20px;
  line-height: 29.52px;
  text-align: center;
  color: #FB8500;
}

.btnc p:hover {
  text-decoration: underline;
}

.btnctop h2 {
  font-family: "ClashGrotesk-Medium";
  font-size: 40px;
  line-height: 49.2px;
  color: #023047;
  text-align: center;
  margin-bottom: 10px;
}

.btnctop{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

@media (max-width: 1024px) {
  .modalcontent {
    width: 80%;
    height: auto;
    padding: 20px;
  }

  .btnctop h2 {
    font-size: 36px;
    line-height: 44.28px;
  }

  .btnc p {
    font-size: 18px;
    line-height: 26.52px;
  }
}

@media (max-width: 768px) {
  .modalcontent {
    width: 90%;
    height: auto;
    padding: 15px;
  }

  .btnctop h2 {
    font-size: 32px;
    line-height: 39.36px;
  }

  .btnc p {
    font-size: 18px;
    line-height: 26.52px;
  }

}

@media (max-width: 480px) {
  .modalcontent {
    width: 95%;
    height: auto;
    padding: 10px;
  }

  .btnctop h2 {
    font-size: 28px;
    line-height: 34.44px;
  }

  .btnc p {
    font-size: 16px;
    line-height: 23.52px;
  }

}