@font-face {
  font-family: "ClashGrotesk-Semibold";
  src: url("../../fonts/ClashGrotesk-Semibold.ttf") format("truetype");
  font-weight: normal;
}

.recommended {
  display: flex;
  justify-content: center;
  margin-top: 51px;
  margin-bottom: 79px;
}

.recwrp {
  /* height: 461px; */
  display: flex;
  width: 100%;
  /* max-width: 90vw; */
  padding: 20px 0;
  margin-left: 133px;
  flex-direction: column;
}

.recommended h2 {
  font-size: 40px;
  color: #fb8500;
  margin-bottom: 25px;
  text-align: center;
  width: 100%;
  font-family: "ClashGrotesk-Semibold";
}

.rectop {
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 133px;
  justify-content: space-between;
}

.products {
  display: flex;
  gap: 54px;
  overflow-x: scroll;
  scrollbar-width: none;
  min-height: 370px;
  padding-right: 133px;
}

.skeleton {
  display: flex;
  gap: 54px;
  min-height: 370px;
  padding-right: 133px;
  padding: 20px 0;
  margin-top: 48px;
  overflow-x: scroll;
  scrollbar-width: none;
  min-height: 370px;
  margin-left: 133px;
}

.secbtm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 76px;
  padding-right: 133px;
}

.secbtm Button {
  font-family: "ClashGrotesk-Semibold";
  background-color: #fb8500;
  padding: 10px 38.5px;
  border-radius: 12px;
}

.pro_btn {
  display: flex;
  flex-direction: column;
}

.simi {
  display: none;
  font-family: "ClashGrotesk-Semibold";
  font-size: 40px;
  line-height: 49.2px;
  text-align: center;
}


@media (max-width: 1024px) {
  .recwrp {
    margin-left: 80px;
  }

  .recommended h2 {
    font-size: 36px;
  }

  .rectop,
  .products,
  .secbtm {
    padding-right: 80px;
  }

  .products {
    gap: 40px;
  }
}

/* For devices with width 768px or less */
@media (max-width: 768px) {
  .recwrp {
    margin-left: 40px;
  }

  .recommended h2 {
    font-size: 32px;
  }

  .rectop,
  .products,
  .secbtm {
    padding-right: 40px;
  }

  .products {
    gap: 30px;
  }

  .secbtm Button {
    padding: 8px 30px;
  }
}

/* For devices with width 480px or less */
@media (max-width: 480px) {
  .recwrp {
    margin-left: 0;
    padding: 0 20px;
    
  }

  .recommended h2 {
    font-size: 28px;
  }

  .rectop,
  .products,
  .secbtm {
    padding-right: 0;
  }

  .products {
    gap: 20px;
  }

  .secbtm Button {
    padding: 6px 20px;
  }

.recommended{
  margin-bottom: 0;
}

 .skeleton{
 display: none;

   }
  
}