@font-face {
  font-family: "ClashGrotesk-Semibold";
  src: url("../../fonts/ClashGrotesk-Semibold.ttf") format("truetype");
  font-weight: normal;
}

.recommended {
  display: flex;
  justify-content: center;
  margin-top: 51px;
}

.recwrp {
  /* height: 461px; */
  display: flex;
  width: 100%;
  /* max-width: 90vw; */
  padding: 20px 0;
  margin-left: 133px;
  flex-direction: column;
}

.recommended h2 {
  font-size: 40px;
  color: #fb8500;
  margin-bottom: 25px;
  font-family: "ClashGrotesk-Semibold";
}

.rectop {
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 133px;
  justify-content: space-between;
}

.products {
  display: flex;
  gap: 54px;
  overflow-x: scroll;
  scrollbar-width: none;
  min-height: 370px;
  padding-right: 133px;
}

.skeleton {
  display: flex;
  gap: 54px;
  min-height: 370px;
  padding-right: 133px;
  padding: 20px 0;
  margin-top: 48px;
  overflow-x: scroll;
  scrollbar-width: none;
  min-height: 370px;
  margin-left: 133px;
}

.secbtm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 76px;
  padding-right: 133px;
}

.secbtm Button:hover {
  background-color: #023047;
}

.secbtm Button {
  font-family: "ClashGrotesk-Semibold";
  background-color: #fb8500;
  padding: 10px 38.5px;
  border-radius: 12px;
}

.pro_btn {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .recommended {
    margin-top: 0;
  }

  .recwrp {
    margin-left: 50px;
    padding: 40px 21px;
  }

  .rectop {
    padding-right: 50px;
  }

  .products {
    padding-right: 50px;
    gap: 30px;
  }

  .recommended h2 {
    font-size: 32px;
  }

  .secbtm {
    padding-right: 50px;
  }

  .secbtm Button {
    padding: 10px 30px;
  }
}

/* Styles for mobile devices */
@media (max-width: 768px) {
  .recommended {
    margin-top: 0;
  }

  .recwrp {
    margin-left: 0;
    padding: 0 16px 20px;
    height: auto;
  }

  .rectop {
    padding-right: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .recommended h2 {
    font-size: 28px;
  }

  .products {
    padding-right: 0;
    gap: 20px;
    overflow-x: auto;
  }

  .secbtm {
    padding-right: 0;
    flex-direction: column;
    margin-top: 0;
  }

  .secbtm Button {
    padding: 10px 25px;
  }

   .skeleton{
 display: none;

   }
}
