
@font-face {
  font-family: 'ClashGrotesk-Medium';
  src: 
       url('../../fonts/ClashGrotesk-Medium.ttf') format('truetype');
}

.eclus{
    margin-top: 33px;
    display: flex;
    align-items: center;
}
.exrp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    width: 100%;
}


.exrp p{
  font-family: 'ClashGrotesk-Medium';
    font-size: 32px;
}

.exrp span{
    
    color: #FF0000;
}


@media (max-width: 1024px) {
  .exrp p {
    font-size: 28px;
  }
  
  .exrp {
    gap: 15px;
  }

  .eclus {
    margin-top: 25px;
  }

  .slide {
    align-items: center;
  }

   .slide img{
    width: 50%;
  }
}

@media (max-width: 768px) {
  .exrp p {
    font-size: 24px;
    text-align: center;
  }
  
  .exrp {
    gap: 12px;
  }

  .eclus {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
  }

  .slide {
    align-items: center;
  }

  .slide img{
    width: 30%;
  }
}